<a href="https://colab.research.google.com/github/cyt86/Introduction-to-Computers/blob/main/0516.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("123")

123

In [ ]:
i=range(5)

In [ ]:
print(type(i))

<class 'range'>

In [ ]:
print(i)

range(0, 5)

In [ ]:
print(list(i))

[0, 1, 2, 3, 4]

In [ ]:
a = range(3,8)
print(list(a))

[3, 4, 5, 6, 7]

In [ ]:
b = range(-2,4)
print(list(b))

[-2, -1, 0, 1, 2, 3]

In [ ]:
c = range(3,8,1)
print(list(c))

[3, 4, 5, 6, 7]

In [ ]:
f = range(9)
print(list(f))

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
g = range(1,10)
print(list(g))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
h = range(1,10,2)
print(list(h))

[1, 3, 5, 7, 9]

In [ ]:
i = range(10,1,-2)
print(list(i))

[10, 8, 6, 4, 2]

In [ ]:
for n in range(3):
    print(n)

0
1
2

In [ ]:
for n in range(10):
  print(n, end = ",")

0,1,2,3,4,5,6,7,8,9,

In [ ]:
for n in range(0,10,2):
  print(n, end=",")

0,2,4,6,8,

In [ ]:
test = int(input("請輸入一個正整數:"))
for m in range(1, test+1):
  print(m,end = " ")

請輸入一個正整數:12
1 2 3 4 5 6 7 8 9 10 11 12

In [ ]:
sum = 0
for n in range(3):
  sum = sum+n
print(sum)

3

In [ ]:
sum = 0
for n in range(10,1,-2):
  sum = sum+n
print(sum)

30

In [ ]:
test = int(input("請輸入一個正整數:"))
sum = 0
for n in range(1,test+1):
  sum = sum+n
print("1到", test, "的整數和為",sum)

請輸入一個正整數:10
1到 10 的整數和為 55

In [7]:
sum = 0
test = int(input("請輸入一個正整數:"))
for n in range(1, test+1):
  sum = sum+n
  print("1到",test,"的整數和為",sum)

請輸入一個正整數:50
1到 50 的整數和為 1
1到 50 的整數和為 3
1到 50 的整數和為 6
1到 50 的整數和為 10
1到 50 的整數和為 15
1到 50 的整數和為 21
1到 50 的整數和為 28
1到 50 的整數和為 36
1到 50 的整數和為 45
1到 50 的整數和為 55
1到 50 的整數和為 66
1到 50 的整數和為 78
1到 50 的整數和為 91
1到 50 的整數和為 105
1到 50 的整數和為 120
1到 50 的整數和為 136
1到 50 的整數和為 153
1到 50 的整數和為 171
1到 50 的整數和為 190
1到 50 的整數和為 210
1到 50 的整數和為 231
1到 50 的整數和為 253
1到 50 的整數和為 276
1到 50 的整數和為 300
1到 50 的整數和為 325
1到 50 的整數和為 351
1到 50 的整數和為 378
1到 50 的整數和為 406
1到 50 的整數和為 435
1到 50 的整數和為 465
1到 50 的整數和為 496
1到 50 的整數和為 528
1到 50 的整數和為 561
1到 50 的整數和為 595
1到 50 的整數和為 630
1到 50 的整數和為 666
1到 50 的整數和為 703
1到 50 的整數和為 741
1到 50 的整數和為 780
1到 50 的整數和為 820
1到 50 的整數和為 861
1到 50 的整數和為 903
1到 50 的整數和為 946
1到 50 的整數和為 990
1到 50 的整數和為 1035
1到 50 的整數和為 1081
1到 50 的整數和為 1128
1到 50 的整數和為 1176
1到 50 的整數和為 1225
1到 50 的整數和為 1275